
/*################################*/
/*                               */
/*             Imports          */
/*                             */
/*############################*/
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@600&display=swap');

/*################################*/
/*                               */
/*             General          */
/*                             */
/*############################*/


:root {
    --base: rgba(230, 228, 228, 1);
    --base2: #dadada;
    --primary: #5f5f5f;
    --secondary:#d1d0d0;
    --accent: #EB9B9A;
    --accent2: #EED3BE;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--base);
    font-family: 'Jost', sans-serif;
    z-index: 5;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    z-index: 100;
    background-color: var(--base);
}
section{
    display: flex;
    height: 100vh;
    width: 90vw;
    padding-top: 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.space-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* THIS ARE CLASES FOR TESTING */
.test{
    background: red;
}
.test2{
    background: steelblue;
}

/*################################*/
/*                               */
/*             TEXT             */
/*                             */
/*############################*/
*{
    text-align: center;
}
h1{
    font-family: "Bodoni Moda", serif;
    font-weight: 600;
}

h2{
    font-size: 1.3rem;
    font-weight: 600;
}
li, a, button{
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .2rem;
    color: var(--primary);
    text-decoration: none;
}
.title{
    font-size: 3rem;
}

/* This is for the lines like in the price of the service section */

h2 span{ 
    padding: 0 2em;
}

/*################################*/
/*                               */
/*         BUTTONS              */
/*                             */
/*############################*/

.btn {
    font-weight: 600;
    padding: 0.6rem 1.2rem;
    background-color: var(--accent);
    border: none;
    cursor: pointer;
    transition: all .3s ease 0s;
}
.btn:hover{
    background-color: var(--accent2);
}

/*################################*/
/*                               */
/*         HEADER               */
/*                             */
/*############################*/
.logo {
    top: 1rem;
    height: 1.5rem;
    cursor: pointer;
}
.mobile_nav_toggle {
    display: none;
    background-repeat: no-repeat;
    background-size: contain;
    background: url(img/menu-icon.svg);
}
.nav_links {
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0 20px;
}
.nav_links li a {
    text-transform: uppercase;
    transition: all .3s ease 0s;
}
.nav_links li a::after{
    display: block;
    content: '';
    border-bottom: 2px var(--accent) solid;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.nav_links li a:hover, li a:focus{
    color: var(--accent);
    outline: none;
}
.nav_links li a:hover::after, li a:focus::after{
    transform: scaleX(1);
}

@media (max-width: 767px){
    .nav_links{
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        inset: 0 0 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10rem 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }
    .nav_links li a{
        font-size: 2rem;
        margin: 10px 0;
        color: var(--base2);
    }
    .nav_links[data-visible="true"] {
        transform: translateX(0%);
    }
    .mobile_nav_toggle {
        display: block;
        position: absolute;
        width: 2rem;
        border: none;
        aspect-ratio: 1;
        top: 1rem;
        right: 2rem;
        z-index: 9999;
    }
}


/*################################*/
/*                               */
/*         HERO SECTION         */
/*                             */
/*############################*/
.hero {
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    height: auto;
}
.main-presentation{
    margin-left: 15%;
}
.hero p {
    font-family: "Bodoni Moda", serif;
    background-color: var(--base);
    margin-top: 10%;
    width: 40ch;
    padding: 0 2em;
}
#svg1{
    position: absolute;
    top: 10%;
    right: 25%;
    width: 35vw;
}

.path {
    fill: none;
    stroke-width: 0.75;
    stroke-miterlimit: 10;
    stroke: var(--primary);
    stroke-dasharray: 2500;
    stroke-dashoffset: 1000;
    animation: dash 15s forwards;
}

@media (max-width: 768px){
    .main-presentation{
        margin: 0;
    }
    .hero {
        margin-left: 0;
        justify-content: center;
        flex-direction: column;
        
    }
    #svg1{
        top: 15%;
        position: absolute;
        width: 50vw;
    }
}

/*################################*/
/*                               */
/*      SERVICES SECTION        */
/*                             */
/*############################*/
#service{
    height: auto;
}
.service{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.service-card {
    margin: 15px 5px 10px 5px;
    min-width: 300px;
    width: 25vw;
    border-radius: 15px;
    min-height: 28em;
    height: 80vh;
    background-color: var(--base2);
}
.service-title {
    font-size: 1.5rem;
    height: 0;
    position: relative;
    top: -1.75em;
    color: var(--base);
}
.service-img {
    width: 100%;
    height: 50%;
    border-radius: 15px 15px 0 0;
    box-shadow: inset 0 -5em 50px -10px rgba(0,0,0,0.8);
}
.service-img-1{
    background: url(img/test.png);
    background-size: cover;
}
.service-img-2{
    background: url(img/test2.png);
    background-size: cover;
}
.service-img-3{
    background: url(img/test3.png);
    background-size: cover;
}

.service-description{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7em;
    height: 20vh;
}
.service-description p {
    width: 80%;
}
.card-price-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    height: 3em;
}

.card-price-box h2 {
    width: 60%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
.card-price-box h2 span{
    background-color: var(--base2);
}

@media (max-width: 768px){
    .service-card{
        width: 100%;
        height: 40em;
    }
    .service-description {
        height: auto;
        margin: 2em 0;
    }
    .card-price-box {
        margin: 5px 0;
    }
}

@media screen and (max-width: 1200px) {
    #service{
        flex-wrap: wrap;
        height: auto;
    }
}



/*################################*/
/*                               */
/*       GALERY SECTION         */
/*                             */
/*############################*/
#svg2 {
    background: url(img/hand.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 80%;
    width: 80%;
    margin-top: 100px;
    position: absolute;
    z-index: 8;
}
#galery {
    height: 100vh;
    min-height: 40em;
}
.galery-title{
    position: relative;
    height: 0;
}
.galery-box {
    height: 100%;
    width: 100%;
}
.galery-row {
    padding-top: 15px;
    height: 50%;
    width: 100%;
}
.instagram-insert{
    width: 15em;
    height: 15em;
    background: #fff;
    margin: 1.4rem;
    z-index: 9;
}

.instagram-hide{
    background: transparent;
}

@media screen and (max-width: 1000px) {
    #galery{
        height: auto;
    }
    .galery-row{
        flex-wrap: wrap;
    }
    .galery-title{
        margin-top: 30px;
        position: static;
        height: auto;
    }
    .instagram-hide{
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .instagram-insert{
        width: 80%;
        padding-top: 80%;
    }
}
/*################################*/
/*                               */
/*       CONTACT SECTION        */
/*                             */
/*############################*/
.contact-form{
    height: 100%;
    width: 100%;
    min-height: 5em;
    font-size: 1.7rem;
}
.contact-form input, select{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--primary);
    background: var(--base);
}

.contact-form input, label, select {
    width: 95%;
    height: auto;
    padding: 20px;
}
.contact-form .btn {
    margin-top: 20px;
    font-size: 1.7rem;
}    

#contact2 a{
    padding: 40px;
}

/*################################*/
/*                               */
/*          ANIMATIONS          */
/*                             */
/*############################*/
@keyframes dash {
    from{
        stroke-dashoffset: 2500;
    }
    to {
        stroke-dashoffset: 0;
    }
}


/*################################*/
/*                               */
/*      RESPONSIVE CODE         */
/*                             */
/*############################*/
